
.text-indigo {
    color: #3a405a;
}

.pink-background {
    background-color: #cc8b86;
}

.green-background {
    background-color: #7b9e87;
}

.light-blue-background {
    background-color: #6ea8fe;
}

.dark-blue-background {
    background-color: #3a405a;
}

.custom-shadow-1:hover {
    background-color: #7b9e87;
}
